/(a + b)^80.py
/.vscode
/aaa.py
/Arquivos
/Aula 1
/Aula 2
/Aula 3
/Aula 4
/Aula 5
/Aula 6
/Aula 7
/Aviõnes comparator.py
/Aviõnes.py
/Baaah.py
/Birthday_test_sim.py
/Bob Simulator.py
/Brasileirão Copa.py
/Calculadora de peso.py
/Contatos.pkl
/Conversor simples.py
/Dado.py
/Gabarito equação 2º.py
/Gerador de equação de 2º.py
/Gerador de senhas.py
/Ideias pygame.txt
/Jogos maneiros
/jogo_luta
/kkk.js
/Lista de comandos python.txt
/Listas
/Mata-Mata.py
/Mata-Matapt2.py
/Maze Game
/Pacman Game
/Pedra, papel e tesoura.py
/Peças
/Prever senhas.py
/Pygame
/pygame colors.py
/Pygame images
/pygame testes.py
/Python Orientação a objetos
/Qualquer merda.py
/Record (online-voice-recorder.com).mp3
/Scrabble.py
/Terço.py
/teste.js
/Tkinter.py
/Ynham.mp3
/__pycache__